{% extends "layout.html" %}

{% block content %}

<div style="height:75px"></div>

<div style=" overflow:auto; margin: auto; width: 60%; height: 420px; background-color: lightgray; color: black; border-radius: 15px">
    
    <h3 style="text-align:center">{{ session['name'] }}</h3>
    <h3 style="text-align:center; font-weight:900">Saldo: {{ balance }} &euro;</h3>

    <div style="text-align:center; margin-top: 3%; width: auto ">
        <!-- Trigger/Open The Modal Levantar -->
        <button style="background-color: white; border-color: red; width: 150px; height: 40px; font-size: 20px; margin: 0 10%" onclick="showLevantar()"><b>Levantar</b></button>
        <!-- The Modal -->
        <div id="Levantar" class="modal">
            <!-- Modal content Levantar -->
            <div class="modal-content">
                <button class="close" onclick="closeLevantar()">&times;</button>
                <h1 style="text-align:center">Levantar</h1>

                <form action="/user/balance/withdraw" method="post">
                    <input type="text" placeholder="0.0 &euro;" name="value" />
                    <button type="submit" style="background-color: red; border-color: white; width: 150px; height: 40px; font-size: 20px; margin: 0 10%"><b>Levantar</b></button>
                </form>
            </div>
        </div>
        <!-- Trigger/Open The Modal Depositar -->
        <button style="background-color: red; border-color: red; width: 150px; height: 40px; font-size: 20px; margin: 0 10%" onclick="showDepositar()"><b>Depositar</b></button>
        <!-- The Modal -->
        <div id="Depositar" class="modal">
            <!-- Modal content Levantar -->
            <div class="modal-content">
                <button class="close" onclick="closeDepositar()">&times;</button>
                <h1 style="text-align:center">Depositar</h1>

                <form action="/user/balance/deposit" method="post">
                    <input type="text" placeholder="0.0 &euro;" name="value" />
                    <button type="submit" style="background-color: white; border-color: red; width: 150px; height: 40px; font-size: 20px; margin: 0 10%"><b>Depositar</b></button>
                </form>
            </div>
        </div>
    </div>

    <div style="margin-top: 5%; margin-left:5%">
        <a href='/user/transactions' style="color: black; text-decoration: underline; font-weight: 700">Consultar transa&ccedil;&otilde;es &rarr;</a>
    </div>

    <div style="margin-top: 1%; margin-left:5%">
        <a href="#" style="color: black; text-decoration: underline; font-weight: 700">Consultar Hist&oacute;rico de apostas -></a>
    </div>

    <div style="margin-left: 10%; font-weight: 900; color:black">Alterar Dados:</div>

    <form action="/user/" method="post" style="display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;" >
        <input type="text" placeholder="Nome" name="name" style="border: none; padding: 1px 1px; margin: 1% 0; border-radius: 15px;width:100% " />
        <input type="email" placeholder="Email" name="email" style="border: none; padding: 1px 1px; margin: 1% 0; border-radius: 15px; width: 100% " />
        <input type="password" placeholder="Palavra Passe" name="password" style="border: none; padding: 1px 1px; margin: 1% 0; border-radius: 15px; width: 100% " />
        <button type="submit" style="background-color: #ffffff; color:red">Alterar</button>
    </form>

    <form style="text-align:right; margin-right:5%" action="/logout/" method="post">
        <button type="submit" style="background-color: red; border-radius: 5px">Log out</button>
    </form>

</div>


<script>


    // When the user clicks the button, open the modal Levantar
    function showLevantar() {
        var modal = document.getElementById(`Levantar`);
        modal.style.display = "block";
    }


    // When the user clicks on <span> (x), close the modal
    function closeLevantar() {
        var modal = document.getElementById(`Levantar`);
        modal.style.display = "none";
    }

    // When the user clicks the button, open the modal Depositar
    function showDepositar() {
        var modal = document.getElementById(`Depositar`);
        modal.style.display = "block";
    }


    // When the user clicks on <span> (x), close the modal
    function closeDepositar() {
        var modal = document.getElementById(`Depositar`);
        modal.style.display = "none";
    }


</script>

{% endblock %}

