{% extends "layout.html" %}

{% block content %}

<div style="height:75px"></div>
<div style=" margin: auto; width: 60%; height:420px; background-color: lightgray; border-radius: 15px">
    <div style="height:5px"></div>

    <h4 style="text-align: center; font-weight: 700">Hist&oacute;rico de Transa&ccedil;&otilde;es</h4>
    <h4 style="text-align:center; font-weight:700">Saldo: {{ balance }} &euro;</h4>

    <div style=" margin: auto; width: 80%; height:auto">
        <table style="width:100%">

            <thead style="display: table; width: 100%; table-layout: fixed; width: calc( 100% - 1em )">
                <tr style="display: table; width: 100%; table-layout: fixed; border:solid">
                    <th>Data</th>
                    <th>Descri&ccedil;&atilde;o</th>
                    <th>Montante</th>
                    <th>Saldo Resultante</th>
                </tr>
            </thead>

            <tbody style="display: block; height: 50px; overflow: auto">
                {% for transaction in transactions %}
                <tr style="display: table; width: 100%; table-layout: fixed">
                    <td> {{ transaction.datetime.date().__str__() }} </td>
                    <td> {{ transaction.description }} </td>
                    {% if transaction.value >= 0 %}
                    <td> +{{ transaction.value }}&euro; </td>
                    {% else %}
                    <td> -{{ transaction.value }}&euro; </td>
                    {% endif %}
                    {% if transaction.balance >= 0 %}
                    <td> +{{ transaction.balance }}&euro; </td>
                    {% else %}
                    <td> -{{ transaction.balance }}&euro; </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</div>

{% endblock %}
