{% extends "layout.html" %}

{% block content %}

<div style="height:75px"></div>

<div style=" overflow:auto; margin: auto; width: 60%; height: 420px; background-color: lightgray; color: black; border-radius: 15px">
    
    <h3 style="text-align:center">{{ session['name'] }}</h3>
    <h3 style="text-align:center; font-weight:900">Saldo: {{ balance }} &euro;</h3>

    <div style="text-align:center; margin-top: 3%; width: auto ">    
        <button style="background-color: white; border-color: red; width: 150px; height: 40px; font-size: 20px; margin: 0 10%"><b>Levantar</b></button>
        <button style="background-color: red; border-color: red; width: 150px; height: 40px; font-size: 20px; margin: 0 10%"><b>Depositar</b></button> 
    </div>

    <div style="margin-top: 5%; margin-left:5%">
        <a href='/user/transactions' style="color: black; text-decoration: underline; font-weight: 700">Consultar transa&ccedil;&otilde;es &rarr;</a>
    </div>

    <div style="margin-top: 1%; margin-left:5%">
        <a href="#" style="color: black; text-decoration: underline; font-weight: 700">Consultar Hist&oacute;rico de apostas -></a>
    </div>

    <div style="margin-left: 10%; font-weight: 900; color:black">Alterar Dados:</div>

    <form action="/user/" method="post" style="display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;" >
        <input type="text" placeholder="Nome" name="name" style="border: none; padding: 1px 1px; margin: 1% 0; border-radius: 15px;width:100% " />
        <input type="email" placeholder="Email" name="email" style="border: none; padding: 1px 1px; margin: 1% 0; border-radius: 15px; width: 100% " />
        <input type="password" placeholder="Palavra Passe" name="password" style="border: none; padding: 1px 1px; margin: 1% 0; border-radius: 15px; width: 100% " />
        <button type="submit" style="background-color: #ffffff; color:red">Alterar</button>
    </form>

    <form style="text-align:right; margin-right:5%" action="/logout/" method="post">
        <button type="submit" style="background-color: red; border-radius: 5px">Log out</button>
    </form>

</div>




{% endblock %}
