{% extends "layout.html" %}

{% block content %}

{% if session['type'] == "admin" %}

<div style="margin:auto; align-self:center; width:80%; height:100%">
    <h1 style="text-align:center">MotoGP</h1>
    <div style="overflow: auto; height: auto; width: 900px; height:560px;margin:auto">
        {% for game,_,status in games.values() %}
        <div style="background-color: lightgray; margin: 20px 0;color:black ; height:100px">
            <div style="height:5px"></div>
            <div style="margin-left:1%;float:left; width:33%">
                <h4 style="margin-top:1%"> {{ game.description }}</h4>
                <h4 style="color:gray"> {{ game.datetime.split(' ', 1)[0] }}  </h4>
                <h4 style="color:gray"> Estado: {{ status }}  </h4>
            </div>
            {% if status == "active" %}
            <div style="display: flex; margin-top: 15px; width: 30%">
                <div style="margin-left: 5%; width: 30%">
                    <button style="background-color: green">
                        Ativo
                    </button>
                </div>
                <form action="/admin/{{ game.game_id }}/update/suspended" method="post" style="margin-left: 35%;">
                    <button type="submit" onclick="this.style.backgroundColor = 'red';">
                        Suspender
                    </button>
                </form>
                <form action="/admin/{{ game.game_id }}/update/closed" method="post" style="margin-left: 35%;">
                    <button type="submit" onclick="this.style.backgroundColor = 'red';">
                        Fechar
                    </button>
                </form>
            </div>
            {% elif status == "suspended" %}
            <div style="display: flex; margin-top: 15px; width: 30%">
                <form action="/admin/{{ game.game_id }}/update/active" method="post" style="margin-left: 5%;">
                    <button type="submit">
                        Ativar
                    </button>
                </form>
                <div style="margin-left: 35%; width: 30%">
                    <button style="background-color: red">
                        Suspenso
                    </button>
                </div>
                <form action="/admin/{{ game.game_id }}/update/closed" method="post" style="margin-left: 35%;">
                    <button type="submit" onclick="this.style.backgroundColor = 'red';">
                        Fechar
                    </button>
                </form>
            </div>
            {% else %}
            <div style="display: flex; margin-top: 15px; width: 30%">
                <form action="/admin/{{ game.game_id }}/update/active" method="post" style="margin-left: 5%;">
                    <button type="submit" onclick="this.style.backgroundColor = 'red';">
                        Ativar
                    </button>
                </form>
                <form action="/admin/{{ game.game_id }}/update/suspended" method="post" style="margin-left: 35%;">
                    <button type="submit" onclick="this.style.backgroundColor = 'red';">
                        Suspender
                    </button>
                </form>
                <div style="margin-left: 35%; width: 30%">
                    <button style="background-color: red">
                        Fechado
                    </button>
                </div>
            </div>
            {%endif%}
        </div>
        {% endfor %}
    </div>
</div>


{% elif session['type'] == "especialista" %}
<div style="margin:auto; align-self:center; width:80%; height:100%">
    <h1 style="text-align:center">MotoGP</h1>
    <div style="overflow: auto; height: auto; width: 100%; height: 500px">
        {% for game in games.values() %}
        <div style="background-color: lightgray; margin: 20px 0;color:black">
            <div style="height:5px"></div>
            <div style="margin:auto;text-align:center">
                <h4 style="margin-top:1%"> {{game[0].description}}</h4>
                <h4 style="color:gray"> {{ game[0].datetime.split(' ', 1)[0] }}  </h4>
            </div>
            <div style="margin:auto; width:100%; text-align:center">
                {% for player in game[1] %}
                <form action="/specialist/{{ game[0].game_id }}/update" method="post" style=" width:30%;display:inline-block;margin-top:5%">
                    <div style="background-color: white; width: 130px; height: 80px; margin:auto; border: 1px solid black">
                        {{ player.name }}
                        <p></p>
                        <input type="hidden" value="{{player.id}}" name="player_id" style="display:none" />
                        <input type="hidden" value="motogp" name="game_type" style="display:none" />
                        <input type="text" placeholder="Alterar odd:{{player.odd}}" name="new_odd" style="width:120px; border:1px solid black; margin:auto" />
                    </div>

                </form>
                {%endfor%}
                <div style="height:5px"></div>
            </div>
        </div>
        {% endfor %}
      
    </div>
</div>

{% else %}
<div style="float: left; width:70%; height:100%">

    <h1 style="text-align:center">MotoGP</h1>
    <div style="overflow:auto; height:auto; width:100%; height:500px">
        <!--Lista de jogos-->
        {% for game in games.values() %}
        <div style="background-color: lightgray; margin: 20px 0;color:black ">
            <div style="height:5px">

            </div>

            <!--Modal with teams stats-->
            <div style="margin:auto;text-align:center;">
                <!-- Trigger/Open The Modal -->
                <div id="myBtn-{{loop.index}}">
                    <h4 style="margin-top:1%"> {{game[0].description}}</h4>
                </div>
                <div>
                    {% if session.get('name') %}
                    {% if game[0].game_id in subscriptions %}
                    <form action="/game/{{game[0].game_id}}/unsubscribe/" method="post">
                        <button type="submit" style="background-color:red; border:0px">
                            cancelar subscricao
                        </button>
                    </form>
                    {%else%}
                    <form action="/game/{{game[0].game_id}}/subscribe/" method="post">
                        <button type="submit" style="background-color:green; border:0px">
                            subscrever
                        </button>
                    </form>
                    {%endif%}
                    {%endif%}
                </div>
                <h4 style="color:gray"> {{ game[0].datetime.split(' ', 1)[0] }}  </h4>
                {% if game[2] == "suspended" %}
                <div style="width:100%; color:gray;">
                    <div style="margin-top:3%; text-align:center">Jogo suspenso, impossivel de fazer aposta!</div>
                </div>
                <div style="height:10px"></div>
            </div>
            {% else %}

        </div>
        <div style="margin:auto; width:100%; text-align:center">
            <!--Caso multiple Selected-->
            {% if session['tmp_bets'].is_multiple_selected %}
            {% if not session["tmp_bets"].check_game_present(game[0].game_id) %}
            {% for player in game[1] %}
            <!-- Bet Buttons-->
            <form action="/bet/tmp/add/" method="post" style=" width:30%;display:inline-block;margin-top:5%">
                <input type="hidden" value=" {{ game[0].game_id }}" name="game_id" style="display:none" />
                <input type="hidden" value=" {{ player.odd }}" name="odd" style="display:none" />
                <input type="hidden" value=" {{ player.id }}" name="player_id" style="display:none" />
                <input type="hidden" value="motogp" name="type" style="display:none" />
                <button type="submit" onclick="this.style.backgroundColor = 'red';" style="width:130px;height:70px">
                    {{ player.name }}
                    <p style="margin-bottom:0px"> {{ player.odd }} </p>
                </button>
            </form>
            {%endfor%}
            {%else%}
            {% for player in game[1] %}
            <!--Se jogador apostado-->
            {% if session["tmp_bets"].check_player_present(player.id) %}
            <div style="width: 30%; display: inline-block; margin-top: 5%">
                <button style="width:130px;height:70px;background-color:red">
                    {{ player.name }}
                    <p style="margin-bottom:0px"> {{ player.odd }} </p>
                </button>
            </div>
            <!--Caso jogador nao apostado-->
            {% else %}
            <div style="width: 30%; display: inline-block; margin-top: 5%">
                <button style="width:130px;height:70px;">
                    {{ player.name }}
                    <p style="margin-bottom:0px"> {{ player.odd }} </p>
                </button>
            </div>
            {% endif %}
            {%endfor%}
            {% endif %}

            <!--Caso simple selected-->
            {% else %}
            <!--Caso jogo ja apostado-->
            {% if session["tmp_bets"].check_game_present(game[0].game_id) %}
            {% for player in game[1] %}
            <!--Caso jogador ja apostado-->
            {% if session["tmp_bets"].check_player_present(player.id) %}
            <div style="width: 30%; display: inline-block; margin-top: 5%">
                <button style="width:130px;height:70px;background-color:red">
                    {{ player.name }}
                    <p style="margin-bottom:0px"> {{ player.odd }} </p>
                </button>
            </div>
            <!--Caso jogador nao apostado-->
            {% else %}
            <form action="/bet/tmp/add/" method="post" style=" width:30%;display:inline-block;margin-top:5%">
                <input type="hidden" value=" {{ game[0].game_id }}" name="game_id" style="display:none" />
                <input type="hidden" value=" {{ player.odd }}" name="odd" style="display:none" />
                <input type="hidden" value=" {{ player.id }}" name="player_id" style="display:none" />
                <input type="hidden" value="motogp" name="type" style="display:none" />
                <button type="submit" onclick="this.style.backgroundColor = 'red';" style="width:130px;height:70px">
                    {{ player.name }}
                    <p style="margin-bottom:0px"> {{ player.odd }} </p>
                </button>
            </form>
            {%endif%}
            {%endfor%}
            <!--Caso jogo nao apostado-->
            {% else %}
            {% for player in game[1] %}
            <!-- Bet Buttons-->
            <form action="/bet/tmp/add/" method="post" style=" width:30%;display:inline-block;margin-top:5%">
                <input type="hidden" value=" {{ game[0].game_id }}" name="game_id" style="display:none" />
                <input type="hidden" value=" {{ player.odd }}" name="odd" style="display:none" />
                <input type="hidden" value=" {{ player.id }}" name="player_id" style="display:none" />
                <input type="hidden" value="motogp" name="type" style="display:none" />
                <button type="submit" onclick="this.style.backgroundColor = 'red';" style="width:130px;height:70px">
                    {{ player.name }}
                    <p style="margin-bottom:0px"> {{ player.odd }} </p>
                </button>
            </form>
            {%endfor%}
            {% endif %}
            {%endif%}
        </div>
        <div style="height:5px"></div>
    </div>
            {% endif %}
            {% endfor %}
        
        </div>
</div>
{%endif%}

<div style="height:15px"></div>


<script src="../static/scripts/indesx.js"></script>

<script>

    function checkForBets(gameId) {
        session['tmp_bets'].has_game_multiple_bet(gameId);
    }

    // When the user clicks the button, open the modal
    function showStats(id) {
        var modal = document.getElementById(`myModal-${id}`);
        modal.style.display = "block";
    }



    // When the user clicks on <span> (x), close the modal
    function closeStats(id) {
        var modal = document.getElementById(`myModal-${id}`);
        modal.style.display = "none";
    }


</script>


    {% endblock %}


