{% extends "layout.html" %}

{% block content %}

{% if session.get('name') %}
<div style="float: left; width:70%; height:100%">

    <h1 style="text-align:center">Destaques</h1>
    <div style="overflow:auto; height:auto; width:100%; height:100%">
        {% for game in games %}
        <div style="background-color: lightgray; margin: 20px 0;color:black ; height:75px">
            <div style="height:5px"></div>
            <div style="margin-left:1%;float:left; width:33%">
                <!-- Trigger/Open The Modal -->
                <div id="myBtn-{{loop.index}}" onclick="showStats('{{loop.index}}')">
                    <h4 style="margin-top:1%"> {{ game.team_home }} - {{game.team_away}}</h4>
                </div>
                <h4 style="color:gray"> Hoje  </h4>
                <!-- The Modal -->
                <div id="myModal-{{loop.index}}" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div style="text-align:center">
                            <h4 style="margin-top:1%"> {{ game.team_home }} VS {{game.team_away}}</h4>
                            <hr>
                            <!-- Estatisticas -->
                            <p>Jogos</p>
                            <p>Golos Marcados</p>
                            <p>Golos Sofridos</p>
                            <p>Classificacao</p>
                        </div>
                        <button onclick="closeStats('{{loop.index}}')">Close</button>
                    </div>

                </div>
            </div>
            <div style="display: flex; margin-top: 5px">
                <form action="/user/temporary_bet_simple" method="post" style="margin-left:5%; width:30%">
                    <input type="hidden" value=" {{ game.id }}" name="game_id" style="display:none" />
                    <input type="hidden" value=" {{ game.odd_home }}" name="odd" style="display:none" />
                    <input type="hidden" value="home" name="bet_team" style="display:none" />
                    <button type="submit" onclick="this.style.backgroundColor = 'red';">
                        {{ game.team_home }}
                        <p style="margin-bottom:0px"> {{ game.odd_home }} </p>
                    </button>
                </form>
                <form action="/user/temporary_bet_simple" method="post" style="margin-left:5%; width:30%">
                    <input type="number" value=" {{ game.id }}" name="game_id" style="display:none" />
                    <input type="number" value=" {{ game.odd_draw }}" name="odd" style="display:none" />
                    <input type="text" value="draw" name="bet_team" style="display:none" />
                    <button type="submit" onclick="this.style.backgroundColor = 'red';">
                        Empate
                        <p style="margin-bottom:0px"> {{ game.odd_draw }} </p>
                    </button>
                </form>
                <form action="/user/temporary_bet_simple" method="post" style="margin-left:5%; width:30%">
                    <input type="number" value=" {{ game.id }}" name="game_id" style="display:none" />
                    <input type="number" value=" {{ game.odd_away }}" name="odd" style="display:none" />
                    <input type="text" value="away" name="bet_team" style="display:none" />
                    <button type="submit" onclick="this.style.backgroundColor = 'red';">
                        {{ game.team_away }}
                        <p style="margin-bottom:0px"> {{ game.odd_away }} </p>
                    </button>
                </form>
            </div>
                
            <div style="height:5px"></div>
        </div>
        {% endfor %}
    </div>
</div>

<div style="height:15px"></div>

<div style="margin-left:10%; float: right; width: 20%; height: 100%">
    <div style="border: 1px;padding: 10px; box-shadow: 0px 2px 2px grey; width:100%">
        <h4 style="text-align: center; font-weight: 700">Boletim</h4>

        <div style="text-align:center">
            <button style="border-radius: 15px"> Simples </button>
            <button style="border-radius: 15px"> M&uacute;ltipla </button>
        </div>
    </div>
    <div style="height:5px"></div>

    <div style="position:relative; box-shadow: 0px 2px 2px grey; height: 400px; width:100%">
        <div style="overflow:auto">
            {% for bet in session['simple_bets_info'] %}
            <div>
                Ola {{ bet }}
            </div>
            {% endfor %}
        </div>

        <div style="position:absolute; bottom:0; width:100%; background-color:lightgray">
            Montante:
        </div>
    </div>

    <div style="height:15px"></div>

    <div style="border: 1px;padding: 10px; box-shadow: 0px 2px 2px grey; width:100%">
        <p> Montante total </p>
        <p> total de ganhos </p>
        <div style="text-align:center">
            <form action="/user/bet_multiple" method="post" style="margin-left:5%; width:30%">
                <input type="hidden" value="" name="game_id" style="display:none" />
            <button style="border-radius: 15px; background-color: red; text-align: center; border: 1px solid #ff4b2b; color:white"> Apostar </button>
            </form>
        </div>
    </div>

</div>

{% else %}

<div style="float: left; width:100%; height:100%">

    <h1 style="text-align:center">Destaques</h1>
    <div style="margin: auto; overflow: auto; height: auto; width: 80%; height: 100%;">
        {% for game in games %}
        <div style="background-color: lightgray; margin: 20px 0;color:black ; height:75px">
            <div style="height:5px"></div>
            <div style="margin-left:1%;float:left; width:33%">
                <!-- Trigger/Open The Modal -->
                <div id="myBtn-{{loop.index}}" onclick="showStats('{{loop.index}}')">
                    <h4 style="margin-top:1%"> {{ game.team_home }} - {{game.team_away}}</h4>
                </div>
                <h4 style="color:gray"> Hoje  </h4>
                <!-- The Modal -->
                <div id="myModal-{{loop.index}}" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div style="text-align:center">
                            <h4 style="margin-top:1%"> {{ game.team_home }} VS {{game.team_away}}</h4>
                            <hr>
                            <!-- Estatisticas -->
                            <p>Jogos</p>
                            <p>Golos Marcados</p>
                            <p>Golos Sofridos</p>
                            <p>Classificacao</p>
                        </div>
                        <button onclick="closeStats('{{loop.index}}')">Close</button>
                    </div>

                </div>
            </div>
            <div>
                <a class="btnStack" style="margin-left:5%; margin-top:10px; width:15%" href="{{ url_for('account_access') }}">
                    {{ game.team_home }}
                    <p style="margin-bottom:0px"> {{ game.odd_home }} </p>
                </a>
                <a class="btnStack" style="margin-left:5%; margin-top:10px; width:15%" href="{{ url_for('account_access') }}">
                    Empate
                    <p style="margin-bottom:0px"> {{ game.odd_draw }} </p>
                </a>
                <a class="btnStack" style="margin-left:5%; margin-top:10px; width:15%" href="{{ url_for('account_access') }}">
                    {{ game.team_away }}
                    <p style="margin-bottom:0px"> {{ game.odd_away }} </p>
                </a>
            </div>
            <div style="height:5px"></div>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}

<script src="../static/scripts/indesx.js"></script>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");



    // When the user clicks the button, open the modal
    function showStats(id) {
        var modal = document.getElementById(`myModal-${id}`);
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    function closeStats(id) {
        var modal = document.getElementById(`myModal-${id}`);
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<script>
    /*
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function openModal(id) {
        var modal = document.getElementById(`Modal-${id}`);
        if (modal) {
            modal.style.display = "block";
        }
    }

    window.onclick = function (event) {
        if (event.target == formModel) {
            formModel.style.display = "none";
        }
    }
</script>



    {% endblock %}
