

{% block content %}
<head>
    <link rel="stylesheet" href="/static/style/login.css">
</head>

<div class="container" id="container">
     <div class="form-container sign-in-container">
         <form action="#">
             <img src="https://media.discordapp.net/attachments/1017873426326765578/1032720305937985606/2-removebg-preview.png" style="width: auto; height: 75px"/>
             <h1>Bem Vindo</h1>
             <input type="email" placeholder="Email" />
             <input type="password" placeholder="Password" />
             <a href="#">Esqueceu palavra-passe?</a>
             <button>Entrar</button>
         </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1 style="color:white">Registo</h1>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Palavra Passe" />
                <input placeholder="Data de Nascimento" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" />
                <input type="text" placeholder="Nif" />
                <button style="background-color: #ffffff; color:red">Registar</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}