/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 15px;
    font-weight: bold;
    background-color:transparent;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

